:root {
--color-brend: #4D5AE5;
--color-secend: #404BBF;
--color-third: #F4F4FD;
--color-primary-inverted: #FFFFFF;
--color-primary-dark: #2E2F42;
--color-secondary: #434455;
--color-additional: #E7E9FC;
--color-footer-hover: #31D0AA;
--color-icon: #8E8F99;
--color-modal-button: #E7E9FC;
--color-modal: #FCFCFC;
}

body {
    font-family: 'Roboto' , sans-serif; 
    background: var(--color-primary-inverted);
    color: var(--color-secondary);
}

p, ul, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

/* header */


.site-nav {
    display: none;
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .site-nav {
        margin-left: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .site-nav {
        margin-left: 76px;
    }
}

.header-container-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .header-container-mobile {
        display: none;
    }
}

.header-container-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-container-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.page-header {
    background: var(--color-primary-inverted);
    border-bottom: 1px solid var(--color-modal-button);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} 

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.adress-header {
    margin-left: auto;
}

.adress-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    .adress-nav {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .adress-nav {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.link {
    position: relative;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-primary-dark);
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--color-secend);
}

.link.current::after {
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    content: '';
}

.current {
    color: var(--color-secend);
}

.adress-link {
    display: none;
}

@media screen and (min-width: 768px) {
    .adress-link {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: 0.04em;
        color: var(--color-secondary);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.adress-link:hover,
.adress-link:focus {
    color: var(--color-secend);
}

@media screen and (min-width: 1200px) {
    .adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo-first {
    color: var(--color-brend);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-second {
    color: var(--color-primary-dark);
}


.header-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.header-burger-icon {
    stroke: var(--color-primary-dark);
}


/* mobile-menu */

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--color-primary-inverted);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transform: translateY(-100%);
}

.mobile-menu.is-open {
    transform: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    justify-content: space-between;
}

.mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--color-modal-button);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:focus {
    background-color: var(--color-secend);
    fill: var(--color-primary-inverted);
}

.mobile-menu-close-button:hover {
    background-color: var(--color-secend);
    fill: var(--color-primary-inverted);
}

.mobile-menu-icon-close {
    width: 8px;
    height: 8px;
}

.mobile-link-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-adress-nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 48px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-primary-dark);
    /* transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--color-secend);
} */

.current-mobile  {
    color: var(--color-brend);
}

.mobile-tel-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-brend);
    /* transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .mobile-tel-link:hover,
.mobile-tel-linkk:focus {
    color: var(--color-brend);
} */

.mobile-mail-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
    text-decoration: none;
    /* transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .mobile-mail-link:hover,
.mobile-mail-link:focus {
    color: var(--color-brend);
} */

.mobile-socials-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.mobile-socials-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-third);
}

/* .menu-nav {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
} */



/* section-1 */

.section {
    padding: 120px 0;
}

.image-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
        /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary-dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .image-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile@2x.jpeg);
    }
}


@media screen and (min-width: 768px) {
    .image-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tablet.jpeg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screev and (min-resolution: 2dppx) and (min-width: 768px) {
    .image-hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tablet@2x.jpeg);
    }
}

@media screen and (min-width: 1200px) {
    .image-hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-desktop.jpeg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screev and (min-resolution: 2dppx) and (min-width: 1200px) {
    .image-hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-desktop@2x.jpeg);
    }
}

.title-hero {
    max-width: 320px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-primary-inverted);
}

@media screen and (min-width: 768px) {
    .title-hero {
        min-width: 496px;
        margin: 0 auto 40px;
        font-size: 56px;
        line-height: 1.071;
    }
}

@media screen and (min-width: 1200px) {
    .title-hero {
        margin: 0 auto 48px;
    }
}

.button-hero {
    padding: 16px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary-inverted);
    background-color: var(--color-brend);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--color-secend);
}

/* section-2 */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-advanteges {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section-advanteges {
        padding-top: 120px;
    }
}

.container.advanteges {
    display: flex;
}


.card-advanteges {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .card-advanteges {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .card-advanteges {
        flex-wrap: nowrap;
    }
}

.item-advantages {
    max-width: 396px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .item-advantages {
        flex-basis: calc((100% - 24px) / 2);
        row-gap: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .item-advantages {
        width: 264px;
    }
}

.title-advanteges {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-primary-dark);
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .title-advanteges {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .title-advanteges {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.text-advanteges {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    .text-advanteges {
        font-weight: 400;
    }
}

.advanteges-box {
    display: none;
}

@media screen and (min-width: 1200px) {
    .advanteges-box {
        display: flex;
        background: var(--color-third);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}

.advanteges-icon {
    width: 64px;
    height: 64px;
}

/* section-3 */



.section-images {
    display: none;
}

@media screen and (min-width: 1200px) {
    .section-images {
        display: flex;
        padding-top: 0;
    }
}

.images-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.image-item {
    flex-basis: calc((100% - 48px)/3);
    width: 100%;
}

.title-second {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* section-4 */


.container-tablet {
    width: 582px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.section-team {
    background-color: var(--color-third);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.list-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .list-team {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .list-team {
        flex-wrap: nowrap;
    }
}

.team-box {
    background-color: var(--color-primary-inverted);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team {
    text-align: center;
    padding: 32px 16px;
}

.title-team {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary-dark);
}

.text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* section 5 */

.section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.title-client {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .client-list {
        flex-basis: calc((100% - 48px) / 3);
        column-gap: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .client-list {
        flex-wrap: nowrap;
    }
}

.client-link {
    display: flex;
    width: 190px;
    height: 88px;
    align-items: center;
    justify-content: center;
    fill: var(--color-icon);
    background-color: var(--color-primary-inverted);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    color: var(--color-icon);
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .client-link {
        width: 168px;
        height: 88px;
    }
}

.client-icon {
    width: 104px;
    height: 56px;
}

.client-link:hover {
    fill: var(--color-secend);
    border-color: var(--color-secend);
}

.client-link:focus {
    fill: var(--color-secend);
    border-color: var(--color-secend);
}

/* footer */

.logo-third {
    color: var(--color-third);
}

.footer {
    background-color: var(--color-primary-dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.text-footer {
    width: 264px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-additional);
    margin-top: 16px;
    margin-bottom: 0;
}

.container-footer-title {
    width: 268px;
    margin-right: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container-footer-title {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .container-footer-title {
        margin-right: 120px;
    }
}

.container-footer {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
    width: 582px;
    max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .container-footer {
        width: 1158px;
        flex-wrap: nowrap;
        column-gap: 0;
    }
    
}

/* social footer */

.title-footer {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary-inverted);
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .title-footer {
        text-align: left;
    }
}

.socials-list-footer {
    display: flex;
    gap: 16px;
}

.socials-item-footer {
    width: 40px;
    height: 40px;
}

.socials-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover {
    background-color: var(--color-footer-hover);
}

.socials-link-footer:focus {
    background-color: var(--color-footer-hover);
}

.socials-icon-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-third);
}

.container-footer-socials {
    margin-right: 0;
}

@media screen and (min-width: 1200px) {
    .container-footer-socials {
        margin-right: 80px;
    }
}

.subscription-form {
    display: flex;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

@media screen and (min-width: 768px) {
    .subscription-form {
        flex-direction: row;
    }
}

.button-footer {
    display: flex;
    margin: auto;
    width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-primary-inverted);
    background-color: var(--color-brend);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .button-footer {
        margin-left: 24px;
    }
}

.button-footer:hover {
    background-color: var(--color-secend);
}

.button-footer:focus {
    background-color: var(--color-secend);
}

.send-icon-footer {
    width: 24px;
    height: 20px;
    fill: var(--color-third);
    margin-left: 16px;
}

.subscription-input {
    margin: 0 auto;
    max-width: 398px;
    width: 100%;
    height: 40px;
    background-color: var(--color-primary-dark);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--color-primary-inverted);
    outline: none;
}

@media screen and (min-width: 768px) {
    .subscription-input {
        width: 264px;
    }
}


.subscription-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.button {
    padding: 12px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-third);
    border: 1px solid var(--color-additional);
    border-radius: 4px;
    color: var(--color-brend);
    cursor: pointer;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--color-secend);
    color: var(--color-primary-inverted);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.site-box {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .site-box {
        flex-basis: calc((100% - 24px) / 2); 
        column-gap: 16px;   
    }
}

@media screen and (min-width: 1200px) {
    .site-box {
        column-gap: 24px;
    }
}

.text-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid var(--color-additional);
    border-left: 1px solid var(--color-additional);
    border-right: 1px solid var(--color-additional);
}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    gap: 24px;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .button-list {
        flex-wrap: nowrap;
    }
}

.button-item {
    padding: 12px 24 px;
}

.title-site {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-primary-dark);
    margin-bottom: 8px;
}

.text-site {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}

.wrapper-box {
    background-color: var(--color-primary-inverted);
    flex-basis: calc((100% - 48px)/3);
}
    

.link-site {
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-site:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.site-image {
    position: relative;
    overflow: hidden;
}

.site-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-third);
    background-color: var(--color-brend);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transition-property: transform;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-site:hover .site-description {
    transform: translateY(0);
}

.link-site:focus .site-description {
    transform: translateY(0);
}

/* socials */

.socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-icon);
    background-color: var(--color-brend);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
    background-color: var(--color-secend);
}

.socials-link:focus {
    background-color: var(--color-secend);
}

.socials-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-third);
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop .is-hidden .modal {
    transform: scale(0);
}

.modal {
    position: relative;
    width: 100%;
    width: 408px;
    background-color: var(--color-modal);
    border-radius: 4px;
    transition: transform 250ms;
    transform: scale(1);
    padding: 24px;
    padding-top: 74px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--color-modal-button);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus {
    background-color: var(--color-secend);
    fill: var(--color-primary-inverted);
}

.modal-close:hover {
    background-color: var(--color-secend);
    fill: var(--color-primary-inverted);
}

.modal-icon-close {
    width: 8px;
    height: 8px;
}

.modal-text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-primary-dark);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    background-color: var(--color-modal);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--color-brend);
}

.modal-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus +.modal-icon {
    fill: var(--color-brend);
}

.modal-form-input-desk {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-icon);
}

.modal-form-label {
    margin-bottom: 8px;
}

.modal-form-label-textarea {
    margin-bottom: 16px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
}


.modal-form-message {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
    background-color: var(--color-modal);
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--color-brend);
}

.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desk {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-icon);
    align-items: center;
    margin-bottom: 24px;
}

.policy {
    color: var(--color-secend);
}

.modal-form-check-desk::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary-dark);
    content: '';
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
}

.modal-form-check:checked + .modal-form-check-desk::before {
    background-image: url(../images/click.svg);
    background-color: var(--color-secend);
    border-color: var(--color-secend);
    background-position: center;
    background-repeat: no-repeat;
}


.button-modal {
    padding: 16px 32px;
    align-self: center;
    width: 159px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary-inverted);
    background-color: var(--color-brend);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
    background-color: var(--color-secend);
}

